trigger:
  batch: true
  branches:
    include:
      - main
      - release/*

resources:
  repositories:
    - repository: niveristand-custom-device-build-tools
      type:       github
      ref:        main
      endpoint:   nivs-custom-devices
      name:       ni/niveristand-custom-device-build-tools

stages:
  - template: azure-templates/stages.yml@niveristand-custom-device-build-tools
    parameters:
      lvVersionsToBuild:
        - version: '2024'
          bitness: '64bit'
        - version: '2025'
          bitness: '64bit'
        - version: '2026'
          bitness: '64bit'

      buildSteps:
        - projectLocation: 'Source\Embedded Data Logger Custom Device.lvproj'
          buildOperation: 'ExecuteBuildSpec'
          target: 'My Computer'
          buildSpec: 'Configuration Release'

        - projectLocation: 'Source\Embedded Data Logger Custom Device.lvproj'
          buildOperation: 'ExecuteBuildSpecAllTargets'
          target: 'All'
          buildSpec: 'Engine Release'

        - projectLocation: 'Source\Embedded Data Logger Custom Device.lvproj'
          buildOperation: 'ExecuteBuildSpec'
          target: 'My Computer'
          buildSpec: 'Scripting API'

      releaseVersion: '26.0.0'
      buildOutputLocation: 'Built'
      archiveLocation: '\\nirvana\Measurements\VeriStandAddons\embedded_data_logger_custom_device'

      packages:
        - controlFileName: 'control'
          payloadMaps:
            - installLocation: 'documents\National Instruments\NI VeriStand $(lvVersion)\Custom Devices\National Instruments\Embedded Data Logger'
              payloadLocation: 'Embedded Data Logger'
            - installLocation: 'ni-paths-NISHAREDDIR$(nipkgx64suffix)\LabVIEW Run-Time\$(lvVersion)\errors\English'
              payloadLocation: 'Errors'
