Package: ni-embedded-data-logger-veristand-{veristand_version}-support
Version: {nipkg_version}
Architecture: windows_x64
Maintainer: National Instruments <support@ni.com>
XB-Plugin: file
Description: Provides support for the Embedded Data Logger custom device for NI VeriStand {veristand_version}.
XB-Eula: eula-ni-standard
Priority: standard
Homepage: http://www.ni.com
XB-LanguageSupport: en
XB-UserVisible: yes
Section: Add-Ons
XB-DisplayVersion: {quarterly_display_version}
XB-DisplayName: NI Embedded Data Logger for VeriStand {veristand_version}
Depends: ni-veristand-{labview_version} (>= {labview_short_version}.0.0)
Description-zh-CN:为NI VeriStand {veristand_version}的嵌入式数据Logger自定义设备提供支持
XB-DisplayName-zh-CN: ni-embedded-data-logger-veristand-{veristand_version}-support.
Description-de: Stellt Unterstützung für benutzerdefinierte Geräte für Embedded Data Logger in NI VeriStand {veristand_version} bereit.
XB-DisplayName-de: NI Embedded Data Logger für VeriStand {veristand_version}.
Description-fr: Fournit le support pour le périphérique personnalisé Embedded Data Logger pour NI VeriStand {veristand_version}.
XB-DisplayName-fr: NI Embedded Data Logger for VeriStand {veristand_version}.
Description-ja: NI VeriStand {veristand_version}用の組込データロガーカスタムデバイスサポートを提供します.
XB-DisplayName-ja: NI Embedded Data Logger - VeriStand  {veristand_version}用.
Description-ko: NI VeriStand {veristand_version}을(를) 위한 Embedded Data Logger Custom Device의 지원을 제공합니다.
XB-DisplayName-ko: NI Embedded Data Logger - VeriStand {veristand_version} 지원.
